.App {
  background: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  background-color: var(--glass);
  grid-template-columns: 15rem auto 5rem;
  gap: 25px;
}


.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.pexels.com/photos/7130540/pexels-photo-7130540.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: center;
}

form {
  background-color: white;
  padding: 0 60px;
  border-radius: 10px;
}
h1 {
  color: rgb(65, 1, 65);
  text-align: center;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-style: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
