.ProductionSideBar {
  background-color: #348304;
  width: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ProductionSideBar img {
  max-width: 100%;
  height: auto;
}


.ProductionSideBar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ProductionSideBar li {
  margin-bottom: 10px;
}

.ProductionSideBar a {
  text-decoration: none;
  color: #333;
}

.ProductionSideBar a:hover {
  color: #000;
  font-weight: bold;
}
