@import url(../../../index.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  background-color: var(--white);
  border-radius: 20px;
  margin-top: 20px;
  margin: 20px 20px;
  background: transparent;
  box-shadow: 0px 0px 12px rgb(255, 255, 255);

  .wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid var(--gray);
      padding: 3px;
      border-radius: 15px;
    }

    .search-input {
      border: none;
      outline: none;
      background: transparent; //for background color change according to page background color
      font-family: var(--thinFont);
      font-weight: 500;
      &::placeholder {
        font-size: 12px;
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .icon {
          font-size: 20px;
        }
        .avatar {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
        .counter {
          width: 15px;
          height: 15px;
          background-color: var(--red);
          border-radius: 50%;
          color: var(--white);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
